body {
  font-family: GothamPro, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

h2 {
  margin: 0 0.5rem 0 0;
}

p {
  font-size: 0.8rem;
}

.noUi-horizontal {
  height: 5px;
  .noUi-handle {
    height: 13px;
    width: 13px;
    top: -5px;
    right: -13px;
  }
}

.noUi-base {
  height: 5px;
}

.noUi-connects {
  border: 1px solid #cbd2db;
}

.noUi-connect {
  background: #565656;
}

.noUi-handle:before, .noUi-handle:after {
  content: none;
}

.noUi-marker {
  transform: scale(0.5);
  top: 5px;
}

.noUi-value-large {
  font-size: 10px
}

.noUi-value-sub {
  font-size: 8px;
}
